## Imports

In [1]:
import pandas as pd
import sqlalchemy as sa
import sqlite3
import openai
import pyodbc
import pypyodbc as odbc

## Database credentials

In [3]:
''''
server='like4.database.windows.net'
database='like'
connection_string='Driver={ODBC Driver 18 for SQL Server};Server=tcp:like4.database.windows.net,1433;Database=like;Uid=CloudSA42bee827;Pwd={XP2U@X3R5EOQ23};Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;'
conn=odbc.connect(connection_string)
'''

"'\nserver='like4.database.windows.net'\ndatabase='like'\nconnection_string='Driver={ODBC Driver 18 for SQL Server};Server=tcp:like4.database.windows.net,1433;Database=like;Uid=CloudSA42bee827;Pwd={XP2U@X3R5EOQ23};Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;'\nconn=odbc.connect(connection_string)\n"

In [4]:
''''
sql=''' 
#SELECT count(user_id)
#from dbo.Users 
'''
cursor=conn.cursor()
cursor.execute(sql)
dataset=cursor.fetchall()
print(dataset)
'''

'\ncursor=conn.cursor()\ncursor.execute(sql)\ndataset=cursor.fetchall()\nprint(dataset)\n'

## Connecting to the data warehouse

In [5]:
server = 'anmx3c2yurjethctgyba6xtuaq-vkvbn7t4322edeguc3ufhjtjeu.datawarehouse.pbidedicated.windows.net'
database = 'likeCard'
driver='ODBC Driver 18 for SQL Server'
user= 'a.talaat%40likecard.com' # use %40 inplace of @
pass1='Lam56465' # use %40 inplace of @   

# Create a connection string for SQL Server using Windows authentication
connection_string = f'mssql+pyodbc://{user}:{pass1}@{server}/{database}?driver={driver}&Trusted_Connection=no&Authentication=ActiveDirectoryInteractive'

In [6]:
engine = sa.create_engine(connection_string, echo=True, connect_args={'autocommit': True}, fast_executemany=True)

## Data Preprocessing

In [7]:
sql_query = '''
SELECT 
    TABLE_SCHEMA,
    TABLE_NAME,
    COLUMN_NAME,
    DATA_TYPE
FROM 
    INFORMATION_SCHEMA.COLUMNS
WHERE 
    TABLE_NAME IN (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = 'BASE TABLE')
    and TABLE_NAME like 'dim_product' 
    or TABLE_NAME like 'fact_trans%' 
    
'''
df = pd.read_sql(sql_query, engine)

2024-01-04 16:46:25,113 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2024-01-04 16:46:25,113 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-04 16:46:25,351 INFO sqlalchemy.engine.Engine SELECT schema_name()
2024-01-04 16:46:25,353 INFO sqlalchemy.engine.Engine [generated in 0.00116s] ()
2024-01-04 16:46:25,829 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2024-01-04 16:46:25,830 INFO sqlalchemy.engine.Engine [generated in 0.00124s] ()
2024-01-04 16:46:26,084 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-01-04 16:46:26,084 INFO sqlalchemy.engine.Engine [generated in 0.00102s] ('BASE TABLE', "\nSELECT \n    TABLE_SCHEMA,\n    TABLE_NAME,\n    COLUMN_NAME,\n    DATA_TYPE\nFROM \n    INFORMATION_SCHEMA.COLUMNS\nWHERE \n    TABLE_NAME IN (SEL ... (16 characters truncated) ... ROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = 'BASE TABLE')\n    and TABLE_NAME like 'dim_product' \n    or TABLE_NAME like 'fact_trans%' \n    \n", 'dbo')
2024-01-04 16:46:26,563 INFO sqlalchemy.engine.Engine
SELECT
    TABLE_SCHEMA,
    TABLE_NAME,
    COLUMN_NAME,
    DATA_TYPE
FROM
    INFORMATION_SCHEMA.COLUMNS
WHERE
    TABLE_NAME IN (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = 'BASE TABLE')
    and TABLE_NAME like 'dim_product'
    or TABLE_NAME like 'fact_trans%'


2024-01-04 16:46:26,563 INFO sqlalchemy.engine.Engine [raw sql] ()

In [8]:
table_schema=df.loc[0][0]

In [9]:
df=df.drop(columns=['TABLE_SCHEMA'])

In [10]:
df.columns

Index(['TABLE_NAME', 'COLUMN_NAME', 'DATA_TYPE'], dtype='object')

In [11]:
df_dict = df.to_dict(orient='records')
df_dict

[{'TABLE_NAME': 'fact_transactions',
  'COLUMN_NAME': 'OrderDateTime',
  'DATA_TYPE': 'datetime2'},
 {'TABLE_NAME': 'fact_transactions',
  'COLUMN_NAME': 'user_id',
  'DATA_TYPE': 'int'},
 {'TABLE_NAME': 'fact_transactions',
  'COLUMN_NAME': 'order_id',
  'DATA_TYPE': 'int'},
 {'TABLE_NAME': 'fact_transactions',
  'COLUMN_NAME': 'store_id',
  'DATA_TYPE': 'int'},
 {'TABLE_NAME': 'fact_transactions',
  'COLUMN_NAME': 'payment_method_id',
  'DATA_TYPE': 'int'},
 {'TABLE_NAME': 'fact_transactions',
  'COLUMN_NAME': 'bank_id',
  'DATA_TYPE': 'int'},
 {'TABLE_NAME': 'fact_transactions',
  'COLUMN_NAME': 'product_id',
  'DATA_TYPE': 'int'},
 {'TABLE_NAME': 'fact_transactions', 'COLUMN_NAME': 'qty', 'DATA_TYPE': 'int'},
 {'TABLE_NAME': 'fact_transactions',
  'COLUMN_NAME': 'cost',
  'DATA_TYPE': 'float'},
 {'TABLE_NAME': 'fact_transactions',
  'COLUMN_NAME': 'coupon_code',
  'DATA_TYPE': 'varchar'},
 {'TABLE_NAME': 'fact_transactions',
  'COLUMN_NAME': 'fees',
  'DATA_TYPE': 'float'},
 {'TABLE_NAME': 'fact_transactions',
  'COLUMN_NAME': 'amount',
  'DATA_TYPE': 'float'},
 {'TABLE_NAME': 'fact_transactions',
  'COLUMN_NAME': 'total_amount',
  'DATA_TYPE': 'float'},
 {'TABLE_NAME': 'fact_transactions', 'COLUMN_NAME': 'id', 'DATA_TYPE': 'int'},
 {'TABLE_NAME': 'fact_transactions',
  'COLUMN_NAME': 'coupon_discount',
  'DATA_TYPE': 'float'},
 {'TABLE_NAME': 'fact_transactions',
  'COLUMN_NAME': 'time',
  'DATA_TYPE': 'int'},
 {'TABLE_NAME': 'fact_transactions',
  'COLUMN_NAME': 'OrderTimeKey',
  'DATA_TYPE': 'varchar'},
 {'TABLE_NAME': 'fact_transactions',
  'COLUMN_NAME': 'Hour',
  'DATA_TYPE': 'int'}]

In [12]:
openai.api_type = "azure"
openai.api_base = "https://like-card-test.openai.azure.com/"
openai.api_version = "2023-07-01-preview"
openai.api_key = "85889c7998dd4adb9a4c89abe56b1242"
openai.azure_endpoint="https://like-card-test.openai.azure.com/openai/deployments/gpt-35-turbo/chat/completions?api-version=2023-07-01-preview"

In [13]:
text = 'what is product name that has the most purchases'

In [15]:
def generate_sql_query(table_names,text,table_schema):
    prompt = """You are a ChatGPT language model that can generate concise  SQL server queries. Please provide a natural language input text and I will generate the corresponding SQL query **without using descriptive words only sql query** in function calls or expressions for example replace DATE_SUB(CURRENT_DATE(), INTERVAL 1 DAY) with DATE_SUB(CURRENT_DATE(),  1 ) . Use only function names and parentheses. the tables names , coulmns names and datatyps in this dictionary {}  and the tables schema is {} and Input: {} SQL Query (without descriptive words)  and note that you have multible tables so you can join the needed tables as needed:""".format(df_dict, table_schema, text)
    request = openai.ChatCompletion.create(
        engine="gpt-35-turbo",
        messages=[
            {"role": "user", "content": prompt},
        ]
    )
    query = request.choices[0].message.content
    return query    
query = generate_sql_query(df_dict,text,table_schema)
query

'SELECT product.name\nFROM fact_transactions\nJOIN dim_products ON fact_transactions.product_id = dim_products.id\nJOIN dim_time ON fact_transactions.OrderTimeKey = dim_time.OrderTimeKey\nGROUP BY product.name\nORDER BY SUM(fact_transactions.qty) DESC\nLIMIT 1;'

In [16]:
print(query)

SELECT product.name
FROM fact_transactions
JOIN dim_products ON fact_transactions.product_id = dim_products.id
JOIN dim_time ON fact_transactions.OrderTimeKey = dim_time.OrderTimeKey
GROUP BY product.name
ORDER BY SUM(fact_transactions.qty) DESC
LIMIT 1;

In [24]:
def executeSQLquery(table_name,text,schema_list ,max_retries):
    retry_count = 0

    while retry_count < max_retries:
        try:
            query = generate_sql_query(table_name,text,schema_list)
            result = pd.read_sql(query,engine)
            return result
        except Exception as e:
            print(f"Error executing query: {e}")
            retry_count += 1
            if retry_count < max_retries:
                print(f"Retrying... (Attempt {retry_count}/{max_retries})")
            else:
                print("Max retry attempts reached. Exiting.")
                raise

In [25]:
result = executeSQLquery(df_dict,text,table_schema,10)
result

2024-01-04 16:58:39,696 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-01-04 16:58:39,697 INFO sqlalchemy.engine.Engine [cached since 733.6s ago] ('BASE TABLE', 'SELECT TOP 1 product_name \nFROM fact_transactions \nJOIN dim_product \nON fact_transactions.product_id = dim_product.id \nGROUP BY product_name \nORDER BY SUM(qty) DESC', 'dbo')
2024-01-04 16:58:40,200 INFO sqlalchemy.engine.Engine SELECT TOP 1 product_name
FROM fact_transactions
JOIN dim_product
ON fact_transactions.product_id = dim_product.id
GROUP BY product_name
ORDER BY SUM(qty) DESC
2024-01-04 16:58:40,200 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-04 16:58:40,432 INFO sqlalchemy.engine.Engine ROLLBACK
Error executing query: (pyodbc.ProgrammingError) ('42S02', "[42S02] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Invalid object name 'dim_product'. (208) (SQLExecDirectW)")
[SQL: SELECT TOP 1 product_name
FROM fact_transactions
JOIN dim_product
ON fact_transactions.product_id = dim_product.id
GROUP BY product_name
ORDER BY SUM(qty) DESC]
(Background on this error at: https://sqlalche.me/e/14/f405)
Retrying... (Attempt 1/10)
2024-01-04 16:58:41,244 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-01-04 16:58:41,245 INFO sqlalchemy.engine.Engine [cached since 735.2s ago] ('BASE TABLE', 'SELECT TOP 1 products.product_name \nFROM dbo.fact_transactions \nINNER JOIN dbo.products ON products.product_id = fact_transactions.product_id \nGROUP BY products.product_name \nORDER BY SUM(fact_transactions.qty) DESC;', 'dbo')
2024-01-04 16:58:41,700 INFO sqlalchemy.engine.Engine SELECT TOP 1 products.product_name
FROM dbo.fact_transactions
INNER JOIN dbo.products ON products.product_id = fact_transactions.product_id
GROUP BY products.product_name
ORDER BY SUM(fact_transactions.qty) DESC;
2024-01-04 16:58:41,700 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-04 16:58:41,949 INFO sqlalchemy.engine.Engine ROLLBACK
Error executing query: (pyodbc.ProgrammingError) ('42S02', "[42S02] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Invalid object name 'dbo.products'. (208) (SQLExecDirectW)")
[SQL: SELECT TOP 1 products.product_name
FROM dbo.fact_transactions
INNER JOIN dbo.products ON products.product_id = fact_transactions.product_id
GROUP BY products.product_name
ORDER BY SUM(fact_transactions.qty) DESC;]
(Background on this error at: https://sqlalche.me/e/14/f405)
Retrying... (Attempt 2/10)
2024-01-04 16:58:42,567 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-01-04 16:58:42,567 INFO sqlalchemy.engine.Engine [cached since 736.5s ago] ('BASE TABLE', 'SELECT TOP 1 product_name \nFROM fact_transactions \nJOIN dim_products ON fact_transactions.product_id = dim_products.id \nGROUP BY product_name \nORDER BY SUM(qty) DESC', 'dbo')
2024-01-04 16:58:43,027 INFO sqlalchemy.engine.Engine SELECT TOP 1 product_name
FROM fact_transactions
JOIN dim_products ON fact_transactions.product_id = dim_products.id
GROUP BY product_name
ORDER BY SUM(qty) DESC
2024-01-04 16:58:43,028 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-04 16:58:43,266 INFO sqlalchemy.engine.Engine ROLLBACK
Error executing query: (pyodbc.ProgrammingError) ('42S22', "[42S22] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Invalid column name 'id'. (207) (SQLExecDirectW)")
[SQL: SELECT TOP 1 product_name
FROM fact_transactions
JOIN dim_products ON fact_transactions.product_id = dim_products.id
GROUP BY product_name
ORDER BY SUM(qty) DESC]
(Background on this error at: https://sqlalche.me/e/14/f405)
Retrying... (Attempt 3/10)
2024-01-04 16:58:44,000 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-01-04 16:58:44,000 INFO sqlalchemy.engine.Engine [cached since 737.9s ago] ('BASE TABLE', 'SELECT TOP 1 product_name \nFROM fact_transactions \nJOIN dim_products ON fact_transactions.product_id = dim_products.id \nGROUP BY product_name \nORDER BY SUM(qty) DESC', 'dbo')
2024-01-04 16:58:44,466 INFO sqlalchemy.engine.Engine SELECT TOP 1 product_name
FROM fact_transactions
JOIN dim_products ON fact_transactions.product_id = dim_products.id
GROUP BY product_name
ORDER BY SUM(qty) DESC
2024-01-04 16:58:44,466 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-04 16:58:44,699 INFO sqlalchemy.engine.Engine ROLLBACK
Error executing query: (pyodbc.ProgrammingError) ('42S22', "[42S22] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Invalid column name 'id'. (207) (SQLExecDirectW)")
[SQL: SELECT TOP 1 product_name
FROM fact_transactions
JOIN dim_products ON fact_transactions.product_id = dim_products.id
GROUP BY product_name
ORDER BY SUM(qty) DESC]
(Background on this error at: https://sqlalche.me/e/14/f405)
Retrying... (Attempt 4/10)
2024-01-04 16:58:45,411 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-01-04 16:58:45,412 INFO sqlalchemy.engine.Engine [cached since 739.3s ago] ('BASE TABLE', 'SELECT TOP 1 product_name\nFROM dbo.products\nJOIN fact_transactions ON products.id = fact_transactions.product_id\nGROUP BY product_name\nORDER BY SUM(qty) DESC', 'dbo')
2024-01-04 16:58:45,867 INFO sqlalchemy.engine.Engine SELECT TOP 1 product_name
FROM dbo.products
JOIN fact_transactions ON products.id = fact_transactions.product_id
GROUP BY product_name
ORDER BY SUM(qty) DESC
2024-01-04 16:58:45,867 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-04 16:58:46,087 INFO sqlalchemy.engine.Engine ROLLBACK
Error executing query: (pyodbc.ProgrammingError) ('42S02', "[42S02] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Invalid object name 'dbo.products'. (208) (SQLExecDirectW)")
[SQL: SELECT TOP 1 product_name
FROM dbo.products
JOIN fact_transactions ON products.id = fact_transactions.product_id
GROUP BY product_name
ORDER BY SUM(qty) DESC]
(Background on this error at: https://sqlalche.me/e/14/f405)
Retrying... (Attempt 5/10)
2024-01-04 16:58:46,966 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-01-04 16:58:46,966 INFO sqlalchemy.engine.Engine [cached since 740.9s ago] ('BASE TABLE', 'SELECT TOP 1 product_name FROM (\nSELECT product_id, SUM(qty) as total_qty\nFROM dbo.fact_transactions\nGROUP BY product_id\n) as t1\nINNER JOIN dbo.dim_products AS t2 ON t1.product_id = t2.id\nORDER BY total_qty DESC', 'dbo')
2024-01-04 16:58:47,466 INFO sqlalchemy.engine.Engine SELECT TOP 1 product_name FROM (
SELECT product_id, SUM(qty) as total_qty
FROM dbo.fact_transactions
GROUP BY product_id
) as t1
INNER JOIN dbo.dim_products AS t2 ON t1.product_id = t2.id
ORDER BY total_qty DESC
2024-01-04 16:58:47,467 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-04 16:58:47,719 INFO sqlalchemy.engine.Engine ROLLBACK
Error executing query: (pyodbc.ProgrammingError) ('42S22', "[42S22] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Invalid column name 'id'. (207) (SQLExecDirectW)")
[SQL: SELECT TOP 1 product_name FROM (
SELECT product_id, SUM(qty) as total_qty
FROM dbo.fact_transactions
GROUP BY product_id
) as t1
INNER JOIN dbo.dim_products AS t2 ON t1.product_id = t2.id
ORDER BY total_qty DESC]
(Background on this error at: https://sqlalche.me/e/14/f405)
Retrying... (Attempt 6/10)
2024-01-04 16:58:48,369 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-01-04 16:58:48,369 INFO sqlalchemy.engine.Engine [cached since 742.3s ago] ('BASE TABLE', 'SELECT TOP 1 product_id, SUM(qty) \nFROM dbo.fact_transactions \nGROUP BY product_id \nORDER BY SUM(qty) DESC', 'dbo')
2024-01-04 16:58:48,884 INFO sqlalchemy.engine.Engine SELECT TOP 1 product_id, SUM(qty)
FROM dbo.fact_transactions
GROUP BY product_id
ORDER BY SUM(qty) DESC
2024-01-04 16:58:48,884 INFO sqlalchemy.engine.Engine [raw sql] ()

   product_id
0        1698  2492990

In [31]:
def get_result_prompt(question,query,df_dict,text,table_schema):

    values = executeSQLquery(df_dict,text,table_schema,10)
    prompt = """I want you to answer the input question based on the table schema ,column name , column data type,input sql query where you can join between tables and it's result, if the input result is empty then return the output as 'No data found', You should not tell about sql query and tables in the result, If something wrong then return 'Try it in another way'. tables schema are: {}, input SQL is: {}, input result is :{} and the input question is: {}. The output should be in natural language text.""".format(table_schema,query,values,question)
    return prompt
result_prompt = get_result_prompt(text,query,df_dict,text,table_schema)

2024-01-04 17:10:37,339 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-01-04 17:10:37,340 INFO sqlalchemy.engine.Engine [cached since 1451s ago] ('BASE TABLE', 'SELECT product_name \nFROM dim_products\nINNER JOIN fact_transactions ON dim_products.product_id = fact_transactions.product_id\nGROUP BY product_name\nORDER BY SUM(qty) DESC\nLIMIT 1;', 'dbo')
2024-01-04 17:10:37,871 INFO sqlalchemy.engine.Engine SELECT product_name
FROM dim_products
INNER JOIN fact_transactions ON dim_products.product_id = fact_transactions.product_id
GROUP BY product_name
ORDER BY SUM(qty) DESC
LIMIT 1;
2024-01-04 17:10:37,871 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-04 17:10:38,136 INFO sqlalchemy.engine.Engine ROLLBACK
Error executing query: (pyodbc.ProgrammingError) ('42000', "[42000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Incorrect syntax near 'LIMIT'. (102) (SQLExecDirectW)")
[SQL: SELECT product_name
FROM dim_products
INNER JOIN fact_transactions ON dim_products.product_id = fact_transactions.product_id
GROUP BY product_name
ORDER BY SUM(qty) DESC
LIMIT 1;]
(Background on this error at: https://sqlalche.me/e/14/f405)
Retrying... (Attempt 1/10)
2024-01-04 17:10:38,829 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-01-04 17:10:38,836 INFO sqlalchemy.engine.Engine [cached since 1453s ago] ('BASE TABLE', 'SELECT \n    TOP 1 \n    prod.product_id \nFROM \n    dbo.fact_transactions AS trans \n    INNER JOIN dbo.dim_products AS prod ON trans.product_id = prod.product_id \nGROUP BY \n    prod.product_id \nORDER BY \n    SUM(trans.qty) DESC', 'dbo')
2024-01-04 17:10:39,371 INFO sqlalchemy.engine.Engine SELECT
    TOP 1
    prod.product_id
FROM
    dbo.fact_transactions AS trans
    INNER JOIN dbo.dim_products AS prod ON trans.product_id = prod.product_id
GROUP BY
    prod.product_id
ORDER BY
    SUM(trans.qty) DESC
2024-01-04 17:10:39,371 INFO sqlalchemy.engine.Engine [raw sql] ()

In [32]:
request = openai.ChatCompletion.create(
        engine="gpt-35-turbo",
        messages=[
            {"role": "user", "content": result_prompt},
        ]
    )
answer = request.choices[0].message.content
answer

'The product with the most purchases is named "No data found", as there is no information available in the input result. Please try running the SQL query again or using different parameters.'